n8n telegram/2.json
{
  "name": "2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0dc611bc-abc6-417f-93af-e7c4e609d7c7",
      "name": "Telegram Trigger",
      "webhookId": "54f4c1db-705d-42df-b90d-637b5be01674",
      "credentials": {
        "telegramApi": {
          "id": "qHG7PomSO9Se6vPY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=#Role\nyou are a highly intelligent personal expense tracker\n# Task:\nyou will understand the user's message and update the spreadsheet accordingly.\n# Instruction\n## Current date\n-the current date is: {{ $now.format('yyyy-MM-dd') }}\n*understand the user's expense\n### Understand the user's expense\n* understand from the user's message the details about the expense. you need to fill these columns on the sheet: Date, Personal/business, Description, Amount (INR), Type\n### Updating\nthe sheet\n* Use the \"Google Sheets\" tool to update the sheet.\n## Constraints:\n* if some of the columns are not clear, ask the user for clarificatin\n## Example structure:\nDate\nAmount (INR)| Type\n| Personal/Business |Description |\n|09.05.2025\n15.99\n--\nI personal monthly I\n| Netflix\nNote:\nif you update the sheet, tell the user how you\nupdated it in this format:\nDate: 09.05.2025\nPersonal/Business: personal\nDescription: Netflix\nAmount (USD): 15.99\nType: Monthly\n* if Breakfast related expense consider it as personal expense"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "d65f12a6-0730-42e0-8a5c-b45c82304864",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "7d4d1061-d191-4c60-93ad-c09accd5c0d3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Uz3T5okBA8dWKF-oB72i-0iKiMtq_xoo08V9aJzOm3w",
          "mode": "list",
          "cachedResultName": "expense sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uz3T5okBA8dWKF-oB72i-0iKiMtq_xoo08V9aJzOm3w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uz3T5okBA8dWKF-oB72i-0iKiMtq_xoo08V9aJzOm3w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Personal/ Business": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Personal__Business', ``, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}",
            "Amount(INR)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount_INR_', ``, 'string') }}",
            "Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Personal/ Business",
              "displayName": "Personal/ Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount(INR)",
              "displayName": "Amount(INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        368,
        208
      ],
      "id": "a1e77f79-89c9-465b-b180-9ff47ace5c4a",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oTiiluQ9F8zUAF7B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "d9d451d7-f681-4d64-8538-2597394e59eb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RYzbRiNbRvcJJelO",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        64
      ],
      "id": "330dc02e-a792-4298-a9ce-36233db1930a",
      "name": "Send a text message",
      "webhookId": "83340646-eae8-4d8f-93c7-b14b18a5cf79",
      "credentials": {
        "telegramApi": {
          "id": "qHG7PomSO9Se6vPY",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2666a8c-b684-45d8-92a2-4d5ac3828653",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e4e9a1016be62275f7de7517a1eca410a778ec2a06ebb3bb3900eaaa2aa70bc"
  },
  "id": "dwFjy3TpKvd1VOYf",
  "tags": []
}